:root {
    --darkblue: #073B4c;
    --lightblue: #118AB2;
    --green: #06D6A0;
    --yellow: #ffd166;
    --red: #EF476F;
    background-color: var(--darkblue);
} 
* {
    margin:0px;
    padding:0px;
}
#header {
    /* width: 100%; */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 64px 33vw;
    background-color: var(--lightblue);
    padding: 16px;
    align-items: center;
}
.title {
    font-size: 1.4rem;
    font-weight: bold;
}
.dropDownDiv {
    font-size: 1.2rem;
    font-weight: bold;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
}
.tabs {
    display:grid;
    margin:8px;
    font-weight: 100;
    /* grid-auto-flow: row; */
}
.addTodo {
    width: 48px;
    align-self: right;
}
.addTodo:hover {
    background-color: var(--darkblue);
    border-radius: 4px;
}
.addTodo, .projectTab, .addProject, .removeProject {
    /* margin-right: 10px;
    padding: 4px;
    border-radius: 4px; */
}
.projectTab:hover {
    cursor: pointer;
    background-color: var(--lightblue);
}
.selectedTab {
    /* border: var(--lightblue) solid 2px; */
    background-color: var(--lightblue);
    font-weight: bold;
    color:black;
    text-align: center;
}
#main {
    /* display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr; */
}
.projectTab {
    background-color: var(--lightblue);
    border-radius: 4px;
    margin: 4px;
    padding: 8px;
}
.projectButtons {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    background-color: var(--lightblue);
    border-radius: 4px;
    margin: 12px;
    margin-top: -4px;
}

#content {
    /* margin: 4px; */
}
.todo {
    /* border: red solid 2px; */
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    display:grid;
    grid-template-columns: auto auto;
    width:;
}
.name {
    font-weight: bold;
    font-size: 1.5rem;
}
.dueDate {
    font-size: 1.1rem;
}
.priority, .project {
    font-size: 1rem;
}
.high {
    /* background-color: var(--red); */
    background-image: linear-gradient(to right, var(--lightblue) , var(--red));
}
.normal {
    /* background-color: var(--yellow); */
    background-image: linear-gradient(to right, var(--lightblue) , var(--yellow));
}
.low { 
    /* background-color: var(--green); */
    background-image: linear-gradient(to right, var(--lightblue) , var(--green));
}
.todoButtons {
    justify-self: right;
    align-self: center;
}
.completeTodo:hover, .editTodo:hover, .deleteTodo:hover{
    background-color: var(--lightblue);
    border-radius: 4px;
    cursor: pointer;
}
.boom {
    background-image: url(./checkmark-animated.gif);
    background-repeat:no-repeat;
    background-position: center;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
/* Mobile Style */
@media only screen and (max-width: 450px) {
   .selectedTab {
    background-color: var(--lightblue);
   }
}

/* Desktop Style */
@media only screen and (min-width:450px) {
    .addProject:hover, .removeProject:hover, .projectTab:hover {
        background-color: var(--darkblue);
        outline: var(--lightblue) solid 2px;
        border-radius: 4px;
    }
    
}